<%= @card.id %>
<%= @card.lot_id %>
<%= @card.name %>
<%= @card.value %>
<%= @card.holo %>
<%= @card.rarity_symbol %>
<%= @card.condition %>
<%= @card.english %>
<%= @card.first_edition %>
<%= @card.created_at %>
<%= @card.updated_at %>

<h3><%= link_to "Update Card", "/cards/#{@card.id}/edit" %></h3>