<h2> <%= @card.name %> Card Info </h2>

<p> Card ID: <%= @card.id %> </p>
<p> Lot ID: <%= @card.lot_id %> </p>
<p> Card Value: <%= @card.value %> </p>
<p> Is Holographic? <%= @card.holo %> </p>
<p> Rarity: <%= @card.rarity_symbol %> </p>
<p> Condition: <%= @card.condition %> </p>
<p> Is English? <%= @card.english %> </p>
<p> Is First Edition? <%= @card.first_edition %> </p>
<p> Card Created At: <%= @card.created_at %> </p>
<p> Card Updated At: <%= @card.updated_at %> </p>

<h3><%= link_to "Update Card", "/cards/#{@card.id}/edit" %> <%= link_to "Delete Card", "/cards/#{@card.id}", method: :delete  %></h3>
