


<% @cards.each do |card| %>
  <p><%= card.name %></p>
  <p><%= card.id %></p>
  <p><%= card.lot_id %></p>
  <p><%= card.value %></p>
  <p><%= card.holo %></p>
  <p><%= card.rarity_symbol %></p>
  <p><%= card.condition %></p>
  <p><%= card.english %></p>
  <p><%= card.first_edition %></p>
  <p><%= card.created_at %></p>
  <p><%= card.updated_at %></p>
<% end %>

<%= form_with url: "/lots/#{@lot.id}/cards", method: :get, local: true do |form| %>
    <%= form.label :given_value %>
    <%= form.text_field :given_value %>
    <%= form.submit "Filter By Value", type: "submit" %>
<% end %>


<h3><%= link_to "Create Card", "/lots/#{@lot.id}/cards/new" %></h3>

<h3><%= link_to "Sort Cards By Alphabetical Order", "/lots/#{@lot.id}/cards?sort=abc" %></h3>
